# Node modules
/node_modules

# Logs
logs
*.log

# Environment files
.env
.env.local
.env.*.local

# Uploads (keep folder)
/uploads/*
!/uploads/.gitkeep

# Build
/dist
/build

# OS + IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
